<p>Listing <%= @accounts.length %> accounts</p>
<table id="accounts">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>

  <% for account in @accounts %>
  <tr>
    <td class="name"><a href="/admin/account/<%= account.email %>"><%= account.name %></a></td>
    <td><%= account.email %></td>
    <td><%= account.phone %></td>
  </tr>
  <% end %>
</table>
