<!doctype html>

<h1><%= request.request_method %> <%= request.path %></h1>

<p><strong>user agent:</strong> <%= request.user_agent %></p>

<p><strong>ip:</strong> <%= request.ip %></p>

<p><strong>session:</strong> <%= session.inspect %></p>

<% if account %>
<p><strong>Account:</strong> <%= account.name %> &lt;<%= account.email %>&gt;</p>
<pre><%= account.field_array %></pre>
<% end %>

<pre>
<%= error.class %>: <%= error.message %>

<%= error.backtrace.join("\n") %>
</pre>
