<%== flash_message %>

<div class="container">
  <div class="content">

    <div class="row">
      <div class="fields span6">
        <h2>Your Account</h2>

        <div class="clearfix">
          <p>
            <strong>First name</strong>
            <br>
            <span id="first_name" class="editable"><%= @account.first_name %></span>
          </p>
        </div>

        <div class="clearfix">
          <p>
            <strong>Last name</strong>
            <br>
            <span id="last_name" class="editable"><%= @account.last_name %></span>
          </p>
        </div>

        <div class="clearfix">
          <p>
            <strong>Phone</strong>
            <br>
            <span id="phone" class="editable"><%= @account.phone %></span>
          </p>
        </div>

        <div class="clearfix">
          <span id="email-verified" class="verified <%= @account.email_verified? ? '' : 'hidden' %>">&#10003; Verified</span>
          <p>
            <strong>Email</strong>
            <br>
            <span id="email" class="editable-json"><%= @account.email %></span>
          </p>
        </div>

        <div id="email-verification" class="clearfix <%= @account.email_verified? ? 'hidden' : '' %>">
          <p id="unverified-email" class="unverified">Your email address is unverified.</p>
          <p><button id="send-email-verification" class="btn">Send verification email</button></p>
          <p id="sending-email-verification" class="hidden"><img src="/images/spinner.gif"> Sending...</p>
        </div>

      </div> <!-- fields -->

      <div class="fields span6">
        <hr class="separator">

        <h2>Password</h2>

        <form action="/account/password" method="post" id="change-password-form">
          <fieldset>
            <div class="clearfix">
              <label for="old-password">Current password</label>
              <input type="password" id="old-password" name="old-password" placeholder="Current password">
            </div>
            <div class="clearfix">
              <label for="new-password">New password</label>
              <input type="password" id="new-password" name="new-password" placeholder="Secret">
            </div>
            <div class="clearfix">
              <label for="password-confirmation">Confirm</label>
              <input type="password" id="password-confirmation" name="password-confirmation" placeholder="Again">
            </div>
            <div class="clearfix">
              <input type="submit" id="change-password-button" class="btn" value="Change my password">
              <span id="change-password-spinner" class="hidden"><img class="spinner" src="/images/spinner.gif"> Changing...</span>
            </div>
            <p id="password-changed" class="notice hidden">Password changed!</p>
          </fieldset>
        </form>

      </div> <!-- fields -->
    </div> <!-- row -->

  </div>
</div>
