<h2 class="section-heading top">Project Info</h2>

<%== flash_message %>

<![if !IE]>
<iframe id="upload-target" name="upload-target"></iframe>

<form id="photo-form" action="/project/add-photo" method="post" enctype="multipart/form-data" target="upload-target">
  <input type="hidden" name="id" value="<%= @project.id %>">
  <input type="file" id="photo-uploader" name="photo">
</form>
<![endif]>

<form action="/project/update" method="post" id="project">
<input type="hidden" name="id" value="<%= @project.id %>">

<p class="save">
  <input type="submit" class="button save-button" value="Save <%= @project.name.present? ? @project.name : 'This Project' %>">
  <span class="save-button-spinner"><img src="/images/spinner.gif"> Saving...</span>
</p>

<table id="project-info" class="section">

  <tr>
    <th><label for="name">Name</label></th>
    <td>
      <input type="text" id="name" name="name" size="40" placeholder="Wild Wacky Action Bike" value="<%= @project.name %>">
    </td>
  </tr>

</table>


<h2 class="section-heading">Photos</h2>

<script type="text/html" id="photo-template">
<li class="photo" id="photo-<%%= id %>">
  <a href="<%%= url %>" class="thumbnail" id="thumbnail-<%%= id %>"><img src="<%%= url %>" width="64" height="64"></a>
  <br>
  <a href="#" class="remove-photo" id="remove-photo-<%%= id %>">remove</a>
</li>
</script>

<div class="section" id="photos-container">
  <ul id="photos">
    <% for photo in @project.photos %>
    <li class="photo" id="photo-<%= photo['id'] %>">
      <a href="<%= photo['url'] %>" class="thumbnail" id="thumbnail-<%= photo['id'] %>"><img src="<%= photo['url'] %>" width="64" height="64"></a>
      <br>
      <a href="#" class="remove-photo" id="remove-photo-<%= photo['id'] %>">remove</a>
    </li>
    <% end %>

    <li id="add-photo-box" class="<%= @project.count_photos >= 10 ? 'hidden' : '' %>">
      <!--[if IE]>
      <input type="file" id="ie-photo-uploader" style="display: none">
      <br>
      add photo
      <![endif]-->
      <![if !IE]>
      <a href="#photos" class="add-photo"><img src="/images/add-photo.png" width="64" height="64"></a>
      <br>
      <a href="#photos" class="add-photo">add photo</a>
      <![endif]>
    </li>
  </ul>
  <p id="drag-n-drop">Drag and drop photos to change their order.</p>
</div>

<p class="save">
  <input type="submit" class="button save-button" value="Save <%= @project.name.present? ? @project.name : 'This Project' %>">
  <span class="save-button-spinner"><img src="/images/spinner.gif"> Saving...</span>
</p>

</form>

<script>
window.SI = window.SI || {}
window.SI.projectId = '<%= @project.id %>'
</script>
