<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sami Samhuri">
  <meta name="description" content="My awesome site.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Stormy Weather<%= admin_page? ? ' Admin' : '' %><%= @page_title ? ' - ' + @page_title : '' %></title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <% for url in stylesheets %>
  <link rel="stylesheet" href="<%= url %>" charset="utf-8">
  <% end %>

</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Stormy Weather</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li <%== request.path_info == '/' ? 'class="active"' : '' %>><a href="/">Home</a></li>

          <% if admin_authorized? %>
            <li <%== request.path_info == '/admin' ? 'class="active"' : '' %>><a href="/admin">Admin Dashboard</a></li>
            <li <%== request.path_info == '/admin/accounts' ? 'class="active"' : '' %>><a href="/admin/accounts">Accounts: <%= num_accounts %></a></li>
            <li <%== request.path_info == '/admin/faq' ? 'class="active"' : '' %>><a href="/admin/faq">FAQ</a></li>
          <% end %>
        </ul>
        <% if authorized? || admin_authorized? %>
        <p class="navbar-text pull-right">
          <% if authorized? %>
            Signed in as <a href="/account"><%= current_account.email %></a>
            &bull;
            <a href="#" id="sign-out-link">Sign Out</a>
          <% end %>
          <% if admin_authorized? %>
            <% if authorized? %><br><% end %>
            Signed in as admin: <a href="/admin/password"><%= current_account.email %></a>
            &bull;
            <a href="#" id="admin-sign-out-link">Sign out of admin</a>
          <% end %>
        </p>
        <% else %>
        <p class="navbar-text pull-right">
          <a href="/sign-in">Sign in</a>
          or
          <a href="/sign-up">Sign up</a>
        </p>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<% if authorized? %>
<form id="sign-out-form" action="/sign-out" method="post"></form>
<% end %>

<div class="container">
  <% if breadcrumbs.size > 0 %>
  <ul class="breadcrumb">
    <% breadcrumbs.each_with_index do |crumb, i| %>
    <li class="<%= crumb[:active] ? 'active' : '' %>">
      <a href="<%= crumb[:path] %>"><%= crumb[:name] %></a>
      <% if i < breadcrumbs.size - 1%>
        <span class="divider">/</span>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <%== flash_message %>

  <%== yield %>

  <hr>

  <footer>
    <p>&copy; 2012 Sami Samhuri</p>
    <p>
      <a href="/contact">Contact Us</a>
      &bull;
      <a href="/faq">FAQ</a>
      &bull;
      <a href="/terms">Terms of Service</a>
    </p>
  </footer>

</div><!--/.fluid-container-->

<% for url in scripts %>
<script src="<%= url %>"></script>
<% end %>

<script type="text/javascript">
if (false) {
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
  _gaq.push(['_setDomainName', 'example.comapult.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
}
</script>

</body>
</html>
