<% if @errors %>
<script>
window.SI = window.SI || {}
window.SI.errors = <%== JSON.fast_generate(@errors) %>
</script>
<% end %>

<%== flash_message %>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="sign-up-form">
        <h2>Sign up</h2>

        <form id="sign-up-form" action="/sign-up" method="post">
          <fieldset>
            <div class="clearfix">
              <input type="text" id="first_name" name="first_name" size="40" placeholder="First name" value="<%= @fields['first_name'] %>">
            </div>
            <div class="clearfix">
              <input type="text" id="last_name" name="last_name" size="40" placeholder="Last name" value="<%= @fields['last_name'] %>">
            </div>
            <div class="clearfix">
              <input type="email" id="email" name="email" size="40" placeholder="Email" value="<%= @fields['email'] %>">
            </div>
            <div class="clearfix">
              <input type="password" id="password" name="password" size="40" placeholder="Password" value="<%= @fields['password'] %>">
            </div>
            <div class="clearfix">
              <input type="password" id="password_confirmation" name="password_confirmation" size="40" placeholder="Confirm password" value="<%= @fields['password'] %>">
            </div>
            <div class="clearfix">
              <input type="checkbox" id="terms" name="terms" <%= @fields['terms'] ? 'checked' : '' %>>
              <label for="terms">Agree to the <a href="/terms">terms of service</a>.</label>
            </div>
            <div class="clearfix submit">
              <input id="sign-up-button" type="submit" class="btn-primary" value="Sign up">
              <span id="sign-up-spinner"><img src="/images/spinner.gif"> Signing up...</span>
            </div>
          </fieldset>
        </form>

      </div><!-- sign-up-form -->
    </div><!-- row -->
  </div><!-- content -->
</div><!-- container -->
